@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: "Manrope", sans-serif;
}

.gradient-text-button {
  background-color: white;       /* বাটনের ব্যাকগ্রাউন্ড সাদা */
  border: none;
  padding: 12px 24px;
  border-radius: 9999px;        /* Tailwind এর rounded-full এর মতো */
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  
  /* Text gradient */
  background-image: linear-gradient(to right, #4F39F6, #9514FA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
